{% extends 'theme/base.html' %}

{% block content %}
    <h1>File list</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <a href="{% url 'upload' %}" class="link">back to Upload</a>

        <div><a href="{% url 'file_list' %}">All</a></div>
        <div><a href="{% url 'file_list_category' 'documents' %}">Documents</a></div>
        <div><a href="{% url 'file_list_category' 'videos' %}">Videos</a></div>
        <div><a href="{% url 'file_list_category' 'audio' %}">Audio</a></div>
        <div><a href="{% url 'file_list_category' 'images' %}">Images</a></div>
        <div><a href="{% url 'file_list_category' 'other' %}">Other</a></div>

    <table>

        <tbody>
        {% for file in files %}

            <tr>
                <td>{{ file.file.name }}</td>
                <td><a href="{{ file.file.url }}" target="_blank" class="link">Download</a></td>
                <td>
                    <form action="{% url 'delete_file' file.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}