/personal_assistant/.env
/personal_assistant/db.sqlite3
.idea
__pycache__
/data/
/.env
/contacts/__pycache__
.pyc
.venv
.pycq
/personal_assistant/user_auth/migrations/

/.vscode/

/personal_assistant/google_cred.json
