services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_HOST}
    ports:
      - "5432:5432"

    volumes:
      - ./data/db:/var/lib/postgresql/data
