{% extends 'theme/base.html' %}
{% block content %}
    <br>
    <h3>Choose the news category:</h3>
    <section class="bg-white dark:bg-gray-900 grid grid-cols-9 gap-x-2">

        {% for category in categories %}
            <a href="/{{ category }}">{{ category }}</a>
        {% endfor %}
    </section>
    <br>
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

            {% for article in articles %}
                <h1 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">{{ article.title }}</h1>

                <h3 class="mb-4 font-light">{{ article.description }}</h3>
                <p class="mb-4 font-light">{{ article.publishedAt }}</p>
                <p>{{ article.content }}</p>
                <a href="{{ article.url }}">читати далі</a><br>
                <img alt="{{ article.title }}" src="{{ article.image }}" width="600">
                <br>
            {% endfor %}

        </div>
    </section>
{% endblock %}
