{% extends 'theme/base.html' %}

{% block content %}
<div class="flex items-center justify-center pt-10 pb-3">
    <h1 class="text-5xl mb-5">Add Note</h1>
</div>

            {% include 'notes/actions_menu.html' %}
    <div class="flex">
        <form method="post" action="{% url 'notes:add_note' %}" class="max-w-sm mx-auto mt-4">
            {% csrf_token %}

            <div class="mb-4">
                <label for="{{ form.title.id_for_label }}" class="block text-gray-700 font-bold mb-2">Title:</label>
                {{ form.title }}
            </div>

            <div class="mb-4">
                <label for="{{ form.content.id_for_label }}" class="block text-gray-700 font-bold mb-2">Content:</label>
                {{ form.content }}
            </div>

            <div class="mb-4">
                <label for="{{ form.tags.id_for_label }}" class="block text-gray-700 font-bold mb-2">Tags:</label>
                {{ form.tags }}
            </div>

            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save</button>
        </form>
    </div>
{% endblock %}
