{% extends  'theme/base.html' %}

{% block content %}
    <h2 class="text-center text-5xl mb-5">Note List</h2>
    <br>
    <p><a href="{% url 'notes:add_note' %}">Add new note</a></p>
    <a href="{% url 'notes:add_tag' %}">Add new tag</a>

    <form method="get" action="{% url 'notes:note_list' %}">
        <label for="tag_filter">Filter by Tag:</label>
        <select name="tag_filter" id="tag_filter">
            <option value="">All</option>
            {% for tag in tags %}
                <option value="{{ tag.name }}"
                        {% if tag.name == request.GET.tag_filter %}selected{% endif %}>{{ tag.name }}</option>
            {% endfor %}
        </select>

        <label for="sort_by_tag">Sort by Tag:</label>
        <input type="checkbox" name="sort_by_tag" id="sort_by_tag" {% if request.GET.sort_by_tag %}checked{% endif %}>

        <button type="submit">Apply Filters</button>
    </form>
    <div class="text-white grid grid-cols-4 gap-4 items-center mb-5 justify-center">
        <ul>
            {% for note in notes %}
                <li>
                    <div class="block p-5 bg-slate-600 border border-gray-200 rounded-lg shadow hover:bg-gray-800 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-800 dark:hover:border-gray-200">
                        <h3 class="text-center text-blue-600 text-2xl">{{ note.title }}</h3>
                        <p></p>
                        <p>{{ note.content }}</p>
                        <p>Created by: {{ note.created_by.username }} | Created at: {{ note.created_at }}</p>
                        <p>Modified by: {{ note.modified_by.username }} | Modified at: {{ note.modified_at }}</p>
                        <p>Tags: {% for tag in note.tags.all %}{{ tag.name }}{% if not forloop.last %},
                        {% endif %}{% endfor %}</p>
                        <a href="{% url 'notes:edit_note' note.id %}">Edit</a>
                        <a href="{% url 'notes:delete_note' note.id %}">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}