<!-- users\templates\users\profile.html -->
{% extends "contacts/base.html" %}

{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
</head>

<div>
    <h1>Profile page: {{user.username}}</h1>
    <img src="{{ user.profile.avatar.url }}" alt="avatar of user"/>
</div>

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="small mb-1">Change Avatar:</label>
                {{ profile_form.avatar }}
                <span>{{ profile_form.errors.avatar }}</span>
            </div>
        </div>
    </div>
    <div class="grid">
        <br>
        <button type="submit",>Save Changes</button>
        <button type="reset" class="secondary" style="margin-left: 10px;">Reset</button>
    </div>

</form>

{% endblock content %}