annotated-types
asgiref
cachetools
certifi
charset-normalizer
django-environ
django-storages[google]
django
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
idna
protobuf
psycopg2-binary
pyasn1-modules
pyasn1
pydantic-core
pydantic
requests
rsa
sqlparse
typing-extensions
tzdata
urllib3
