{% extends "theme/base.html" %}

{% block content %}
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="pt-10 pb-3">
            <h1 class="text-center text-5xl mb-5">Contact list</h1>
        </div>
        
        <div class="pb-2">
            {% include 'contacts/actions_menu.html' %}
        </div>

        <div class="text-white grid grid-cols-4 gap-4 items-center mb-5 justify-center">
                {% for contact in contacts %}
                <div class="block p-5 bg-slate-600 border border-gray-200 rounded-lg shadow hover:bg-gray-800 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-800 dark:hover:border-gray-200">
                    <div class="text-xl">{{ contact.first_name }} {{ contact.last_name }}</div>
                    <div class="text-slate-200 italic ">{{ contact.phone_number }}</div>
                    <div class="pt-2 flex flex-row float-right">

                        <div class="inline pr-2 pl-2">
                            <a class="text-blue-500" href="{% url 'contacts:edit_contact' contact.id %}">Edit</a>
                        </div>
                        <div class="inline pr-2 pl-2">
                            <a class="text-red-500" href="{% url 'contacts:delete_contact' contact.id %}">Delete</a>
                        </div>
                    </div>
                    <div class="text-slate-200 text-xs italic "> Created by: {{ contact.created_by.username }}</div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}