{% extends 'theme/base.html' %} {% block content %}
<div class="form-content my-3 p-3">
  <div class="pt-10 pb-3">
    <h1 class="text-center text-5xl mb-5">Your data:</h1>
  </div>
  {% if user.is_authenticated %}
  <div class="mb-3">
    <p class="text-lg">Username: {{ user.username }}</p>
  </div>
  <div class="mb-3">
    <p class="text-lg">
      First Name: <b>{{ user.first_name }}</b>
      <a href="{% url 'users_info:edit_first_name' %}" class="text-blue-500"
        >edit</a
      >
    </p>
  </div>
  <div class="mb-3">
    <p class="text-lg">
      Last Name: <b>{{ user.last_name }}</b>
      <a href="{% url 'users_info:edit_last_name' %}" class="text-blue-500"
        >edit</a
      >
    </p>
  </div>
  <div class="mb-3">
    <p class="text-lg">
      Email: <b>{{ user.email }}</b>
      <a href="{% url 'users_info:edit_email' %}" class="text-blue-500">edit</a>
    </p>
  </div>
  <div class="mb-3">
    <p class="text-lg">Department: {{ user.employee.department }}</p>
  </div>
  {% if user.employee.company %}
  <div class="mb-3">
    <p class="text-lg">Company: {{ user.employee.company }}</p>
  </div>
  {% else %}
  <div class="mb-3">
    <p class="text-lg">Company: not in any Company</p>
  </div>
  {% endif %} {% endif %}
</div>

<div class="text-white grid grid-cols-4 gap-4 items-center mb-5 justify-center">
  {% for contact in contacts %}
  <div
    class="block p-5 bg-slate-600 border border-gray-200 rounded-lg shadow hover:bg-gray-800 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-800 dark:hover:border-gray-200"
  >
    <p>Contact name: {{ contact }}</p>
    <p>Contact email: {{ contact.email }}</p>
    <p>Contact phone: {{ contact.phone_number }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
