{% extends 'theme/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <p class="text-2xl font-bold">Hallo {{ user.username }}!</p>
        <p> Email: {{ user.email }} </p>

    {% endif %}

    <div>
        <p>Description about user: {{ user.description }}</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Description</button>

        </form>

    </div>



    <div class="text-white grid grid-cols-4 gap-4 items-center mb-5 justify-center">
        {% for contact in contacts %}
            <div class="block p-5 bg-slate-600 border border-gray-200 rounded-lg shadow hover:bg-gray-800 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-800 dark:hover:border-gray-200">
                <p>Contact name: {{ contact }}</p>
                <p>Contact email: {{ contact.email }}</p>
                <p>Contact phone: {{ contact.phone_number }}</p>
            </div>
        {% endfor %}
    </div>


{% endblock content %}

{% include 'theme/footer.html' %}